/*-------------- Generel CSS  -------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2.8rem;
}

li,
button {
  font-size: 2.5rem;
}

a {
  color: #fff;
  text-decoration: none;
}

/*------------ header -------------*/

.main-head {
  /* background: #582f0e; */
  background: rgb(29, 21, 21, 0.5);
  color: #fff;
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 1);
}
#logo {
  text-align: start;
}
nav {
  min-height: 13vh;
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-evenly;
  list-style: none;
}
.main-head ul li {
  padding: 0.8rem 2rem;
  border-radius: 3px;
}
#active1 {
  background: #ddb892;
}
.main-head ul li:hover {
  /* background: #ddb892; */
  background: rgb(221, 184, 146, 0.5);
}

.main-head .fa {
  margin-left: 8px;
}
.contact {
  position: relative;
}
.sub-contact {
  display: none;
  position: absolute;
  top: 3.9rem;
}
.main-head ul li:hover .sub-contact {
  width: 110%;
  top: 100%;
  display: block;
  background: rgb(29, 21, 21, 0.6);
  margin-left: -15px;
  z-index: 1000;
}

.main-head ul li:hover .sub-contact ul {
  display: block;
  margin: 5px;
}

.main-head ul li:hover .sub-contact ul li {
  padding: 10px;
  border-bottom: 1px dotted rgb(255, 255, 255);
  text-align: left;
  border-radius: 0;
}

.main-head ul li:hover .sub-contact ul li:last-child {
  border-bottom: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pacifico", cursive;
  font-weight: normal;
}

@media (max-width: 955px) {
  nav #logo {
    text-align: center;
  }
}

/*----------------- home ----------------------*/
#home {
  background-image: linear-gradient(to right, rgb(0, 0, 0, 1) 50%, transparent),
    url("back-acceuil.jpg");
  min-height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

#home p {
  font-size: 6rem;
  color: #fff;
  text-align: left;

  font-family: "Lato", sans-serif;
}
#home h5 {
  font-size: 1.2rem;
  color: rgb(250, 225, 225);
}

#home .titre {
  position: absolute;
  top: 35%;
  left: 13%;
}
#home hr {
  width: 57%;
}

/*-----------------  Menu  --------------------*/
#head {
  background: url("menu.jpg");
  min-height: 13vh;

  background-size: 100% 100%;
}
#menu {
  background: rgb(29, 21, 21, 0.9);
  min-height: 87vh;
  background-size: cover;
}

.menu-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.menu-box .col {
  text-align: center;
  flex: 0 1 40rem;
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  margin: 0.8rem 1.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.menu-box .col img {
  height: 15rem;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.menu-box .col .icon {
  width: 45%;
  height: 1%;
}
.menu-box .col p {
  color: #fff;
  font-size: 1.7rem;
  padding: 1rem 0;
}

/*------------------ Services------------------------*/
.services {
  background: rgb(29, 21, 21, 0.9);
  background-size: cover;
  min-height: 100vh;
  padding: 0 9%;
  /* padding-top: 7.5rem; */
  padding-top: 20vh;
}

.special-heading {
  font-size: 4.5rem;
  text-align: center;

  padding: 1rem;
  background: var(--gradient);
  color: rgb(252, 178, 178);
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
}
.button {
  background: var(--gradient);
  border-radius: 5rem;
  color: brown;
  display: inline-block;
  padding: 0.8rem 3rem;
  margin-top: 1rem;
  font-size: 2.7rem;
  transition: 0.5s ease-out;
}
.button:hover {
  transform: scale(1.1);
}

.services-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.services-box .col {
  text-align: center;
  background-color: rgb(219, 204, 204);
  flex: 0 1 35rem;
  padding: 3rem 2rem;
  border-radius: 0.7rem;
  margin: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.services-box .col img {
  height: 15rem;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.services-box .col h3 {
  font-size: 2rem;
  font-weight: 600;
  padding-top: 1rem;
}
.services-box .col p {
  color: #666;
  font-size: 1.4rem;
  padding: 1rem 0;
}

/*------------------------ -------------------------------*/

@media (max-width: 410px) {
  html {
    font-size: 35%;
  }
  .main-head ul li:hover .sub-contact {
    height: 570%;
  }
}

@media (max-width: 730px) {
  html {
    font-size: 50%;
  }

  nav {
    text-align: center;
  }

  .main-head ul li {
    font-size: 2.5rem;
  }

  .sub-contact ul li {
    font-size: 2.2rem;
  }
  .sub-contact {
    height: 170px;
    top: 4.3rem;
  }
  #logo {
    padding: 2rem;
    font-size: 4rem;
  }
  #home {
    background-image: linear-gradient(
        to bottom,
        rgb(0, 0, 0, 0.96) 35%,
        transparent
      ),
      url("homeimage.jpg");
  }
}
